<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>C:\Program Files (x86)\Lua\5.1\lua.exe</StartProgram>
    <StartArguments>main.lua</StartArguments>
    <StartWorkingDirectory>C:\Users\PogoRock_WinDev_01\Documents\Visual Studio 2013\Projects\MahjongAlgorithm\Scripts</StartWorkingDirectory>
  </propertyGroup>
</Project>